.quotes {
    min-height: 95vh;
    /* background: linear-gradient(16deg, rgba(231, 111, 81, .12) 0%, rgba(233, 196, 106, .12) 35%, rgba(244, 162, 97, .12) 100%); */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 500px));
    justify-items: auto;
}

.circle_1 {
    position: absolute;
    top: 80vh;
    left: 3%;
    overflow: hidden;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: var(--orange-yellow-crayola);
}

.circle_2 {
    position: absolute;
    overflow: hidden;
    top: 20vh;
    left: 85%;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    background-color: var(--burnt-sienna);
    box-shadow: 5px 5px 5px 5px white;
}

.circle_3 {
    position: absolute;
    overflow: hidden;
    top: 20vh;
    left: 12%;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    background-color: var(--sandy-brown);
    box-shadow: 5px 5px 25px 5px rgba(0, 0, 0, .28);
}