.welcome {
    /* background-color: var(--charcoal); */
    width: 100%;
    min-height: 95vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.greeting {
    text-align: center;
    animation: textanimation 4s ease 0s infinite alternate;
    color: var(--charcoal)
}

@keyframes textanimation {
    from {
        filter: opacity(1);
    }
    to {
        color: var(--sandy-brown);
    }
}

@media screen and (max-width: 648px) {
    .greeting {
        font-size: 2rem;
    }
}

@media screen and (min-width: 648px) {
    .greeting {
        font-size: 5rem;
    }
}