.welcome {
    width: 100%;
    min-height: 95vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.greeting {
    font-size: 5rem;
    text-align: center;
    animation: textanimation 4s ease 0s infinite alternate;
}

@keyframes textanimation {
    from {
        filter: opacity(1);
    }
    to {
        color: darkred;
    }
}