.quote {
    margin: 10px;
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba( 255, 255, 255, 0.10);
    border: 1px solid rgba(255, 255, 255, .16);
    box-shadow: 2px 4px 8px 2px rgba( 31, 38, 135, 0.27);
    backdrop-filter: blur( 5px);
    -webkit-backdrop-filter: blur( 5px);
    border-radius: 10px;
    min-height: 20vh;
    overflow: hidden;
}

.quote .text {
    margin: 15px;
    color: rgba(0, 0, 0, .87);
    /* background: linear-gradient(90deg, rgba(0, 0, 0, .01) 0%, transparent 100%), linear-gradient(270deg, rgba(0, 0, 0, .01) 0%, transparent 100%); */
    border: 1px solid rgba(255, 255, 255, .1);
    border-image: radial-gradient( rgba(0, 0, 0, .65), transparent) 1 100%;
    display: flex;
}

.quote .text h1 {
    text-align: left;
    margin: 10px;
    margin-left: 15px;
    color: rgba(0, 0, 0, .76);
}

.quote .text p {
    margin-left: 20px;
}

.quote .publisher {
    margin: 15px;
    margin-left: auto;
    margin-right: 20px;
    color: rgba(0, 0, 0, .76);
}

@media screen and (min-width: 648px) {
    .quote .text h1 {
        font-size: 2.5rem;
    }
    .quote .publisher {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 648px) {
    .quote .text h1 {
        font-size: 1.5rem;
    }
    .quote .publisher {
        font-size: 1.0rem;
    }
    .quote .text {
        /* border: none; */
        border: 1px solid rgba(255, 255, 255, .1);
        border-image: radial-gradient( rgba(0, 0, 0, .20), transparent) 1 100%;
    }
}