.quote {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: rgba( 255, 255, 255, 0.10);
    border: 1px solid rgba(255, 255, 255, .16);
    box-shadow: 2px 4px 8px 2px rgba( 31, 38, 135, 0.27);
    backdrop-filter: blur( 4px);
    -webkit-backdrop-filter: blur( 4px);
    border-radius: 10px;
}

.quote .text {
    margin: 15px;
    font-size: 1.5rem;
}

.quote .publisher {
    margin: 15px;
    margin-left: auto;
    margin-right: 20px;
}