.submission {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 50%;
}

.form p {
    margin-top: 1.5vh;
    font-size: 1.25rem;
    color: var(--charcoal)
}

.form button {
    width: 30%;
    margin-left: auto;
    margin-top: 10px;
    border-radius: 20px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-style: none;
    background-color: var(--persian-green);
    color: white;
    transition: all .4s ease 0s;
    cursor: pointer;
    font-size: 1rem;
}

.form button:hover {
    background-color: var(--sandy-brown);
    color: white
}

.form input {
    font-size: 1.5rem;
    min-width: 80%;
    text-align: left;
    width: 100%;
}

.form textarea {
    font-size: 1.5rem;
    min-width: 100%;
    min-height: 10vh;
    height: 30vh;
    text-align: center;
}

.success {
    color: var(--persian-green);
    font-size: 2.5rem;
}

@media screen and (min-width: 648px) {
    .form * {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 648px) {
    .form * {
        font-size: 1rem;
    }
}