.nav {
    background-color: var(--persian-green);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid;
    border-color: black;
    min-width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

.nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.nav ul li a {
    text-decoration: none;
    transition: all .4s ease 0s;
    color: white;
}

.nav ul li a:hover {
    color: var(--burnt-sienna);
}

@media screen and (min-width: 648px) {
    .nav ul {
        justify-content: left;
    }
    .nav ul {
        margin-left: 10px;
        margin-right: 10px;
    }
    .nav ul li {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .nav ul li a {
        margin: 25px;
        font-size: 1rem;
    }
}

@media screen and (max-width: 648px) {
    .nav ul {
        margin-left: 10px;
        margin-right: 10px;
    }
    .nav ul li {
        margin-top: 4px;
        margin-bottom: 4px;
    }
    .nav ul li a {
        font-size: 0.75rem;
    }
}