.nav {
    background-color: var(--charcoal);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid;
    border-color: var(--charcoal);
    box-shadow: 0px 1px 14px 0px var(--charcoal);
    min-width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    margin-bottom: .75vh;
}

.nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.nav ul li {
    width: 100%;
    margin: auto;
    display: flex;
}

.nav ul li a {
    text-decoration: none;
    transition: all .4s ease 0s;
    color: rgba(255,255,255,.9);
    font-weight: 400;
    letter-spacing: 0.33px;
    width: 100%;
    text-align: center;
}

.separator {
    font-weight: 300;
    color: var(--charcoal);
    border-left: 1px solid;
    border-image: radial-gradient(rgba(255, 255, 255, .65), transparent) 1 100%;
    width: 1px;
}

.nav ul li a:hover {
    color: var(--burnt-sienna);
}

@media screen and (min-width: 648px) {
    .nav {
        height: 4vh;
    }
    .separator {
        height: 2.75vh;
    }
    .nav ul {
        justify-content: left;
    }
    .nav ul {
        margin-left: 10px;
        margin-right: 10px;
    }
    .nav ul li {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .nav ul li a {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 648px) {
    .nav {
        height: 5vh;
    }
    .separator {
        height: 2.75vh;
    }
    .nav ul {
        margin-left: 10px;
        margin-right: 10px;
    }
    .nav ul li {
        margin-top: 4px;
        margin-bottom: 4px;
    }
    .nav ul li a {
        font-size: 1rem;
    }
}