.nav {
    background-color: var(--persian-green);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid;
    border-color: black;
    min-width: 100%;
}

.nav img {
    margin: 5px;
}

.nav ul {
    margin-left: 20px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav ul li {
    margin: 20px;
}

.nav ul li a {
    text-decoration: none;
    transition: all .4s ease 0s;
    color: white;
}

.nav ul li a:hover {
    color: var(--burnt-sienna);
}