:root {
    --charcoal: #264653;
    --persian-green: #2A9D8F;
    --orange-yellow-crayola: #E9C46A;
    --sandy-brown: #F4A261;
    --burnt-sienna: #E76F51;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    overflow-x: hidden;
}

html {
    scroll-snap-type: y mandatory;
}